main{
    font-family: Roboto ;
}

.loader{
    margin:auto;
    margin-top:100px;
    margin-bottom: 100px;
    border: 16px solid #5f0881;
    width:250px;
    height:250px;
    background-color: #fff;
    border-top-color:lightsalmon ;
    border-radius: 50%;
    animation: chargeur 3s linear;
    animation-fill-mode: forwards;
    position:absolute;
    top:0;
    right:0;
    left:0;
}

@keyframes chargeur{
    0%{
        transform: rotate(0deg);
        opacity:1;

    }
    100%{
        transform: rotate(360deg);
        opacity: 0;

    }
}

a
{
    text-decoration:none;
}

.btncolor_white{
    color:white;
}
.text_deco_none{
    text-decoration: none;
}
.widthmax{
    width:100%;
}
.margin_left{
    margin-left: 0;

}
.text_align_center{
    text-align: center;
}
.bgd_black{
    background-color: #353535; 
}
.bgd_purple{
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
}
.color_black{
    color:black;
}
.height_250{
    height:250px;
    object-fit: cover;
}
.price{
    font-weight: bold;
    float: right;
    margin-right: 4%;
}
.dflex{
    display:flex;
    justify-content: center;
    margin-left:40%;
    width:20%;
    padding: 2%;
    border-radius: 20px;
}
.bold{
    font-weight: bolder;

}

/********MOBILE********/
/**********************/
@media (max-width:787px){
    .logo{
    margin-left: 26%;
    height:28px;
    border-radius: 0%;
    }
    .fa-arrow-left{

    position:absolute;
    left:5%;
    top:2%;
    }
.margin_bottom{
    margin-bottom: 5%;
}
#search{
    text-align: center;
}
#search{
    background-color: #eaeaea;
    padding:4vw;
    margin-right: 2%;
    font-weight: bold;
}
#introduction{
    background-color: #f6f6f6;
    padding-top: 4%;
    padding-bottom: 12%;
}
.fa-map-marker-alt{
    margin-right: 3%;
}
.reserve{
    font-size: 19px;
    font-weight: bolder;
}
.btn{
    color:white;
    width:70%;
    display: flex;
    font-weight: bold;
    border-radius:30px;
    padding: 0.8rem 0.1rem;
    margin:auto;
    justify-content:center;
    background:linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
}
.fonctionnement{
    margin-top: 20%;
    margin-bottom: 30%;
}
.fonctionnement i{
    margin-right: 5%;
}
.number{
    display:flex;
    align-items: center;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius:12px;
    font-size: small;
    margin-bottom: 8%;
    position:relative;
}
.number i{
    margin-left:5%;
}
.number_list{
    border-radius: 20px;
    background-color: #9356dc;
    /*padding:2px;*/
    width:15px;
    height: 15px;
    font-size:small; 
    /*margin-right:5%;*/
    position:absolute;
    top:34%;
    left:-4%;
}
.restaurant{
    background-color: #f6f6f6;
    padding-top:5%;
}
.restaurant h3, p{
    margin:0;
    margin-left:3%;
}
figure{
    margin:0;
    margin-bottom: 5%;
    margin-right: 4%;
    background-color: white;
    border-radius: 25px;
}
figcaption{
    margin-top: 3%;
}
img{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height:185px;
}
.menu h2{
    margin-left:5%;
    font-size:medium;
    font-weight: 200;
    border-bottom: 2px solid #99e2d0;
    width:12%;
}
.menu h3{
    margin-left:3%;
}
.card_new{
    border:1px solid transparent;
    background-color: #99e2d0;
    color:#008766;
    font-weight: 600;
    position:absolute;
    left:75%;
    top:5%;
    
}
.position-relative{
    position:relative;
}
.fa-heart{
    position:relative;
    left:85vw;
    bottom:45px;
    font-size:x-large;
}
footer{
    background-color: #353535;
    padding-bottom: 3%;
    padding-top: 3%;
}

.logo_footer{
    font-weight:bolder;
    font-family:Shrikhand;
    margin-left:11%;

}
.fa-utensils{
    margin-right:4%;
}
.fa-hands-helping{
    margin-right:2%;
}
li{
    list-style-type: none;
    font-weight:900;
    
}
}
/*********MENU**********/

.menu{
    font-family: roboto;
}
.title_menu{
    font-family: Shrikhand;
    margin-left: 5%;
}

#section_menu{
        border-radius: 25px 25px 0 0;
        background-color: #f6f6f6;
        padding-bottom: 5%;
        padding-top: 2%;
        z-index:1;
        position:relative;
        bottom:50px;
    }
article{
    background-color: white;
    border-radius:15px;
    margin:4%;
    margin-bottom: 10%;
    animation-duration: 2s;
    animation-name:bounce;
}
@keyframes bounce {
    from {
      margin-top: 100%;
      width: 100%;
    }
  
    to {
      margin-bottom: 0%;
      width: 100%;
    }
  }
.padding_btn{
    padding:5%;
    

}
.logo_footer{
    font-family: Shrikhand;
}

/********TAB********/
@media (min-width:768px) and (max-width:991px){
   
.logo{

    height: 30px;
    margin-left: 40%;
    border-radius: 0%;
}
#search{

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e5e5e5;
        font-weight:bold;
}
.btn{
    color:white;
    width:35%;
    display: flex;
    font-weight: bold;
    border-radius:30px;
    padding: 0.8rem 0.1rem;
    margin:auto;
    justify-content:center;
    background:linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
}
.number{
    display:flex;
    justify-content:baseline;
    align-items:center;
}
.number_list{
    background-color: #9356dc;
    border-radius: 10px;
    width:20px;
    margin:2%;
}
i{
    margin:4%;
}
.fa-heart{
    font-size: 25px;
    position:relative;
    left:85vw;
    bottom:80px;
}

img{
    height:200px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}
figure{
    margin:0;
}
h2, h3, p{
    margin-left: 5%;
}
.menu h2{
    border-bottom: 2px solid #99e2d0;
    width:10%;
}

a{
    width:50%;
}
.card_new{

        border:1px solid transparent;
        background-color: #99e2d0;
        color:#008766;
        font-weight: 600;
        padding:3px;
        z-index: 1;
        bottom:170px; 
        position:relative;
        left:85%;
}
footer{
    padding-bottom:2%;
    padding-top:4%;
}
footer li{
    width:23%;
    list-style-type: none;
    font-weight: bold;
}
.logo_footer{
    margin-left:5%;
}
}


/********PC********/
@media (min-width:992px){
h2{
    margin-left:3%;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.fa-arrow-left{

    position:absolute;
    left:5%;
}
header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
#search{
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    font-size:1.3rem;
    padding:20px;
}
.fa-map-marker-alt{
    margin-right:2%;
}
.localisation{
    font-weight:600;
}
#introduction{
    background-color: #f7f7f7;
    padding-top: 1%;
    padding-bottom: 2%;
}
.discover{
    font-size: 20px;
}
.btn{
    color:white;
    width: 17%;
    display: flex;
    font-weight: bold;
    border-radius:30px;
    padding: 1rem;
    justify-content: center;
    margin: 3rem auto;
    background:linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
}
.number{
    width:27%;
    display: inline-flex;
    flex-direction: row;
    justify-content:left;
    align-items:baseline;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius:20px;
    margin-left: 2%;
}
.number i{
   margin-top: 7%;
   margin-right: 4%;
}
.number_list{
    width:6%;
    border-radius: 20px;
    background-color: #9356dc;
    position:relative;
    left:0;
    margin-right:4%;
}
.fa-heart{
    font-size:25px;
    position:relative;
    left:85%;
    bottom:40px;
}
/*i:hover{

   opacity:1;
   background: linear-gradient(to bottom left, #9356dc, #ff79da);
   background-clip:content-box;
   -webkit-text-fill-color: transparent;
   transition: 1s;
}*/
.cards{
    
    display: inline-flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width:auto;
}
.cards img{
    height:200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card_new{
    border:1px solid transparent;
    background-color: #99e2d0;
    color:#008766;
    font-weight: 600;
    padding:3px;
    z-index: 1;
    position: relative;
    left:80%;
    bottom:170px; 
}
.place{
    margin:0;
}
.cards a{
    width:42%;
    margin-bottom: 5%;
}
figure{
    box-shadow: 4px 4px 2px lightgrey;
    border-radius:20px ;
    margin:auto;
}
figcaption{
    margin-left: 4%;
    line-height:5px;
}
.title_footer{
    
    color:white;
    padding:2%;
    font-weight: bold;
}
.fa-hands-helping{
    font-size:x-small;
}
footer li{
    list-style-type: none;
    line-height: 20px;
    font-weight: bold;
}
.logo_footer{
    font-size:1.3rem;
    margin-left: 4%;
}

footer i{
    margin-right: 1%;
}
.picture{
    height: 300px;
    object-fit:cover;
}
#section_menu{
    border-radius: 25px 25px 0 0;
    background-color: #f6f6f6;
    padding-bottom: 5%;
}
.title_menu{
    font-family: Shrikhand;
    font-size:x-large;
    text-align: center;
}
.menu{
    font-family: roboto;
    display: flex;
    justify-content: space-around;
}
.menu h3, p{
    margin-left: 5%;
}
.menu h2{
    border-bottom: 2px solid #99e2d0;
}
.starter, .flat, .dessert{
    width:27%;
}
article{
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 4px 4px 2px lightgrey;
}
}

    

  

